:root{
    --first: rgb(203, 153, 126);
    --second: rgb(237,220,210);
    --third: rgb(255,241,230);
    --four: rgb(240,239,235);
    --five: rgb(221,190,169);
    --six: rgb(165,165,141);
    --seven: rgb(183,183,164);
    --eight: white;
    --nine: black;
}html{
    font-family: sans-serif;
}body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--first);
    color: var(--eight);
}nav{
    background-color: var(--second);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}nav ul{
    list-style: none;
    margin: 0;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}nav ul li{
    display: inline;
    margin-right: auto;
    padding: 0.4rem;
    cursor: pointer;
    font-size: 1.04em;
    color: var(--nine);
    position: relative;
}nav ul li::after{
    content: "";
    background-color: var(--five);
    position: absolute;
    top: 1.7rem;
    left: 0.2rem;
    width: 0;
    height: 0.2rem;
    border-radius: 0.3rem;
    transition: width 0.3s ease-in-out;
}nav ul li:hover::after{
    width: 100%;
}header{
    overflow-x: hidden;
    padding: 0.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}header h1{
    padding-left: 0.5rem;
}header h2{
    margin: 0.5rem;
}header h3{
    font-size: 1.2em;
    margin: 0.5rem;
}header button{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    background-color: var(--second);
    cursor: pointer;
}header button:active{
    opacity: 0.8;
}.skillHolder,.projectHolder{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}.cover{
    display: flex;
    justify-content: center;
}.cover img{
    width: 70%;
    border-radius: 5rem;
}.myAid2 h2{
    line-height: 2rem;
    font-size: 1.3em;
}.aboutMe{
    margin-top: 5rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
    background-color: var(--five);
    border-radius: 3rem;
}
.aboutMe h1{
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}.aboutMe p{
    font-size: 1.2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
      line-height: 2rem;
      margin-top: 0.5rem;
}.it{
    display: flex;
    justify-content: center;
}.aboutMe .it button{
    background-color: var(--second);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}.aboutMe button:active{
    opacity: 0.8;
}.mySkills{
    background-color: var(--seven);
    padding: 3rem 1rem;
    margin-top: 5rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
}.mySkills h1{
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}.mySkills .skillHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
}.mySkills .skillHolder div{
    background-color: var(--four);    
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--nine);
}.it2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}.mySkills .it2 button{
     background-color: var(--second);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}.mySkills .it2 button:active{
    opacity: 0.8;
}.myProjects{
    background-color: var(--second);
    padding: 3rem 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    color: var(--nine);
}.myProjects h1{
    text-align: center;
}.myProjects .projectHolder div{
    background-color: var(--five);
    padding: 1rem 0.5rem 0.5rem 1rem;
    border-radius: 0.6rem;
    width: 90% ;
    cursor: pointer;
}.myProjects .projectHolder div h2{
    font-weight: 400;
}.myProjects .projectHolder div h3{
    font-weight: 400;
    font-size: 1em;
}.it3{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}.myProjects .it3 button{
     background-color: var(--four);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}.myProjects .it3 button:active{
    opacity: 0.8;
}footer{
    background-color: var(--six);
    padding: 0.3rem;
}footer p{
   font-size: 1.2em;
   word-wrap:break-word ;
   overflow-wrap: break-word;
   text-align: center;
   line-height: 1.7rem;
}
@media screen and (min-width: 769px) {
    nav ul{
        gap: 5rem;
        justify-content: center;
}nav ul li{
    margin-right: 0.1rem;
    font-size: 1.05em;
}header h1{
    font-size: 2.5em;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}header h2{
    margin: 0.5rem;
}header h3{
    font-size: 1.02em;
}.aboutMe{
    gap: 0.01rem;
}.aboutMe p{
     font-size: 1.4em;
     line-height: 2rem;
     margin-top: 0.5rem;
}.myAid{
    display: flex;
}.cover{
    padding-top: 1rem;
}.cover img{
    width: 80%;
}.myAid2{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}.myAid2 h1{
    margin: 0;
}.myAid2 .divine{
    margin-top: 3rem;
}.myAid2 h2{
    line-height: 2rem;
}footer{
    padding: 0.3rem;
}.mySkills .it2 button,.myProjects .it3 button,header button{
    font-size: 1em;
}
}
@keyframes flooring{
        0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}


